body {
	font-family: Avenir, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.grid {
	display: flex;
}
.grid-item {
	height: 200px;
}
.gutter-1 {
	flex-grow: 1;
	background-color: lightblue;
}
.content-1 {
	flex-basis: 25%;
	max-width: 200px;
	background: orange;
}
.gutter-2 {
	flex-grow: 1;
	max-width: 60px;
	background-color: lightblue;
}
.content-2 {
	flex-grow: 4;
	/* this makes columns at least 4x the width of gutters */
	background: orange;
}